:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

/* #2196F3 */
/* #212121 */
/* #000000 */
/* #757575 */
/* #FFFFFF */

/* Глобальные значения */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
}

/* Шапка */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.accent-header {
  color: #000000;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav,
.socials-list {
  list-style: none;
}
.socials {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.socials:hover,
.socials:focus {
  color: var(--accent-color);
}

/* Подвал */

.footer {
  background-color: #2f303a;
}

.footer a:hover,
.footer a:focus {
  color: var(--accent-color);
}
.accent-footer {
  color: #ffffff;
}
.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-socials {
  color: rgb(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Удаление подчеркивания у ссылок */
a {
  text-decoration: none;
}

/* Стили для ТИТУЛЬНОЙ страницы */
/* Секции */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;

  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  font-family: Roboto;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Преимущества */

.feature-hidden {
  display: none;
}
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list {
  list-style: none;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */

.list {
  list-style: none;
}

/* Наша команда */

.team-section {
  background-color: #f5f4fa;
}
.team-names {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-item {
  background-color: var(--primary-bg-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
}

/* Стили для ПОРТФОЛИО */

.portfolio-hidden {
  display: none;
}

/* Фильтры */

.filter {
  list-style: none;
}
.filter-button {
  font-family: Roboto;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Галерея */

.portfolio {
  list-style: none;
}
.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
